# Importando pricipais libs

In [38]:
import os 
import pandas as pd

In [39]:
if os.getenv('COMPUTERNAME') == 'GUEDES-95011':
    df_original = pd.read_csv("C:\\Users\\Natan Guedes\Documents\\Dev\\PFC\\dataset2001_2024.csv")
elif os.getenv('COMPUTERNAME') == 'ASPIRE-A515-51G':
    print(os.getenv('COMPUTERNAME'))

df_original

<>:2: SyntaxWarning: invalid escape sequence '\D'
<>:2: SyntaxWarning: invalid escape sequence '\D'
C:\Users\Natan Guedes\AppData\Local\Temp\ipykernel_22784\941752824.py:2: SyntaxWarning: invalid escape sequence '\D'
  df_original = pd.read_csv("C:\\Users\\Natan Guedes\Documents\\Dev\\PFC\\dataset2001_2024.csv")

,YEAR,MO,DY,HR,ALLSKY_SFC_UV_INDEX,ALLSKY_SRF_ALB,CLRSKY_KT,CLOUD_AMT,T2M,PS,PW,WD10M,WD50M,WS50M,WS10M,TOA_SW_DNI,QV2M,QV10M
0,2001,1,1,0,0.00,-999.00,-999.00,32.70,18.93,93.39,2.72,140.07,139.57,6.24,4.25,0.00,13.79,13.73
1,2001,1,1,1,0.00,-999.00,-999.00,24.88,18.54,93.40,2.66,138.43,137.82,6.18,4.06,0.00,13.55,13.49
2,2001,1,1,2,0.00,-999.00,-999.00,51.42,18.21,93.36,2.61,138.09,137.45,6.08,3.89,0.00,13.37,13.31
3,2001,1,1,3,0.00,-999.00,-999.00,66.36,17.94,93.31,2.55,137.70,136.99,5.89,3.63,0.00,13.18,13.18
4,2001,1,1,4,0.00,-999.00,-999.00,51.16,17.69,93.27,2.50,137.93,137.20,5.62,3.35,0.00,13.06,13.06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201595,2023,12,31,19,2.92,0.15,0.67,31.79,28.00,93.33,2.72,155.45,154.80,6.44,5.66,1408.66,11.47,11.29
201596,2023,12,31,20,0.80,0.13,0.58,20.45,25.87,93.38,2.70,152.49,152.07,7.36,6.12,1408.61,11.72,11.66
201597,2023,12,31,21,0.05,0.16,0.38,31.40,23.62,93.45,2.70,148.69,148.45,7.88,6.21,1408.76,12.08,12.02
201598,2023,12,31,22,0.00,-999.00,-999.00,21.06,21.87,93.52,2.71,145.60,145.61,7.41,5.61,0.00,12.45,12.39
201599,2023,12,31,23,0.00,-999.00,-999.00,22.94,20.82,93.55,2.72,140.66,140.22,6.68,4.93,0.00,12.70,12.70

In [40]:
# Novo DF

if os.getenv('COMPUTERNAME') == 'GUEDES-95011':
    df_add = pd.read_csv("C:\\Users\\Natan Guedes\Documents\\Dev\\PFC\\dataset2001_2024_moreData.csv")
elif os.getenv('COMPUTERNAME') == 'ASPIRE-A515-51G':
    print(os.getenv('COMPUTERNAME'))

df_add

<>:4: SyntaxWarning: invalid escape sequence '\D'
<>:4: SyntaxWarning: invalid escape sequence '\D'
C:\Users\Natan Guedes\AppData\Local\Temp\ipykernel_22784\2340889550.py:4: SyntaxWarning: invalid escape sequence '\D'
  df_add = pd.read_csv("C:\\Users\\Natan Guedes\Documents\\Dev\\PFC\\dataset2001_2024_moreData.csv")

,YEAR,MO,DY,HR,TS,PW,CLRSKY_SFC_PAR_TOT,WS50M,CLRSKY_SFC_SW_DWN,AOD_55,AOD_84,ALLSKY_SFC_PAR_TOT,CLRSKY_NKT,PRECTOTCORR
0,2001,1,1,0,18.66,2.72,0.00,6.24,0.00,0.31,0.20,0.00,-999.00,0.02
1,2001,1,1,1,18.26,2.66,0.00,6.18,0.00,0.32,0.20,0.00,-999.00,0.02
2,2001,1,1,2,17.93,2.61,0.00,6.08,0.00,0.37,0.23,0.00,-999.00,0.02
3,2001,1,1,3,17.63,2.55,0.00,5.89,0.00,0.38,0.24,0.00,-999.00,0.02
4,2001,1,1,4,17.38,2.50,0.00,5.62,0.00,0.41,0.27,0.00,-999.00,0.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201595,2023,12,31,19,29.65,2.72,224.25,6.44,494.98,0.27,0.17,191.52,0.74,0.01
201596,2023,12,31,20,26.40,2.70,113.95,7.36,255.77,0.27,0.17,98.62,0.71,0.01
201597,2023,12,31,21,23.53,2.70,21.48,7.88,50.48,0.26,0.16,19.33,0.66,0.01
201598,2023,12,31,22,21.71,2.71,0.00,7.41,0.00,0.26,0.17,0.00,-999.00,0.01
201599,2023,12,31,23,20.65,2.72,0.00,6.68,0.00,0.24,0.16,0.00,-999.00,0.00

In [41]:
df_add = df_add.drop(columns=['YEAR', 'MO', 'DY', 'HR', 'PW', 'WS50M'])
df_add

,TS,CLRSKY_SFC_PAR_TOT,CLRSKY_SFC_SW_DWN,AOD_55,AOD_84,ALLSKY_SFC_PAR_TOT,CLRSKY_NKT,PRECTOTCORR
0,18.66,0.00,0.00,0.31,0.20,0.00,-999.00,0.02
1,18.26,0.00,0.00,0.32,0.20,0.00,-999.00,0.02
2,17.93,0.00,0.00,0.37,0.23,0.00,-999.00,0.02
3,17.63,0.00,0.00,0.38,0.24,0.00,-999.00,0.02
4,17.38,0.00,0.00,0.41,0.27,0.00,-999.00,0.02
...,...,...,...,...,...,...,...,...
201595,29.65,224.25,494.98,0.27,0.17,191.52,0.74,0.01
201596,26.40,113.95,255.77,0.27,0.17,98.62,0.71,0.01
201597,23.53,21.48,50.48,0.26,0.16,19.33,0.66,0.01
201598,21.71,0.00,0.00,0.26,0.17,0.00,-999.00,0.01
201599,20.65,0.00,0.00,0.24,0.16,0.00,-999.00,0.00

# Unificando os DFs

In [42]:
df_new = pd.concat([df_original, df_add], axis=1)

df_new

,YEAR,MO,DY,HR,ALLSKY_SFC_UV_INDEX,ALLSKY_SRF_ALB,CLRSKY_KT,CLOUD_AMT,T2M,PS,...,QV2M,QV10M,TS,CLRSKY_SFC_PAR_TOT,CLRSKY_SFC_SW_DWN,AOD_55,AOD_84,ALLSKY_SFC_PAR_TOT,CLRSKY_NKT,PRECTOTCORR
0,2001,1,1,0,0.00,-999.00,-999.00,32.70,18.93,93.39,...,13.79,13.73,18.66,0.00,0.00,0.31,0.20,0.00,-999.00,0.02
1,2001,1,1,1,0.00,-999.00,-999.00,24.88,18.54,93.40,...,13.55,13.49,18.26,0.00,0.00,0.32,0.20,0.00,-999.00,0.02
2,2001,1,1,2,0.00,-999.00,-999.00,51.42,18.21,93.36,...,13.37,13.31,17.93,0.00,0.00,0.37,0.23,0.00,-999.00,0.02
3,2001,1,1,3,0.00,-999.00,-999.00,66.36,17.94,93.31,...,13.18,13.18,17.63,0.00,0.00,0.38,0.24,0.00,-999.00,0.02
4,2001,1,1,4,0.00,-999.00,-999.00,51.16,17.69,93.27,...,13.06,13.06,17.38,0.00,0.00,0.41,0.27,0.00,-999.00,0.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201595,2023,12,31,19,2.92,0.15,0.67,31.79,28.00,93.33,...,11.47,11.29,29.65,224.25,494.98,0.27,0.17,191.52,0.74,0.01
201596,2023,12,31,20,0.80,0.13,0.58,20.45,25.87,93.38,...,11.72,11.66,26.40,113.95,255.77,0.27,0.17,98.62,0.71,0.01
201597,2023,12,31,21,0.05,0.16,0.38,31.40,23.62,93.45,...,12.08,12.02,23.53,21.48,50.48,0.26,0.16,19.33,0.66,0.01
201598,2023,12,31,22,0.00,-999.00,-999.00,21.06,21.87,93.52,...,12.45,12.39,21.71,0.00,0.00,0.26,0.17,0.00,-999.00,0.01
201599,2023,12,31,23,0.00,-999.00,-999.00,22.94,20.82,93.55,...,12.70,12.70,20.65,0.00,0.00,0.24,0.16,0.00,-999.00,0.00

In [43]:

if os.getenv('COMPUTERNAME') == 'GUEDES-95011':
    file_path = ["C:\\Users\\Natan Guedes\\Documents\\Dev\\PFC\\dataset2001_2024_moreData.csv", 'C:\\Users\\Natan Guedes\\Documents\\Dev\\PFC\\dataset2001_2024.csv']

    if os.path.exists(file_path[0]) and os.path.exists(file_path[1]):
        df_new.to_csv(f'df_new.csv', index = False, header = True, encoding='latin-1', sep=';')
    else:
        print('File doesnt exists')
    
elif os.getenv('COMPUTERNAME') == 'ASPIRE-A515-51G':
    file_path2 = [] 

    if os.path.exists(file_path2[0]) and os.path.exists(file_path2[1]):
        df_new.to_csv(f'df_new.csv', index = False, header = True, encoding='latin-1', sep=';')
    else:
        print('File doesnt exists')

In [48]:
folder_path = 'C:\\Users\\Natan Guedes\\Documents\\Dev\\PFC'
file_name = 'new_database.csv' 
file_path = os.path.join(folder_path, file_name)

if os.getenv('COMPUTERNAME') == 'GUEDES-95011':
    main_files = ["C:\\Users\\Natan Guedes\\Documents\\Dev\\PFC\\dataset2001_2024_moreData.csv", 'C:\\Users\\Natan Guedes\\Documents\\Dev\\PFC\\dataset2001_2024.csv']

    if os.path.exists(main_files[0]) and os.path.exists(main_files[1]):
        df_new.to_csv(file_path, index = False, header = True, encoding='latin-1', sep=';')
        print('New database created.')
    else:
        print('File doesnt exists')
    
elif os.getenv('COMPUTERNAME') == 'ASPIRE-A515-51G':
    file_path2 = [] 

    if os.path.exists(file_path2[0]) and os.path.exists(file_path2[1]):
        df_new.to_csv(f'df_new.csv', index = False, header = True, encoding='latin-1', sep=';')
    else:
        print('File doesnt exists')

New database created.

In [50]:
df_new

,YEAR,MO,DY,HR,ALLSKY_SFC_UV_INDEX,ALLSKY_SRF_ALB,CLRSKY_KT,CLOUD_AMT,T2M,PS,...,QV2M,QV10M,TS,CLRSKY_SFC_PAR_TOT,CLRSKY_SFC_SW_DWN,AOD_55,AOD_84,ALLSKY_SFC_PAR_TOT,CLRSKY_NKT,PRECTOTCORR
0,2001,1,1,0,0.00,-999.00,-999.00,32.70,18.93,93.39,...,13.79,13.73,18.66,0.00,0.00,0.31,0.20,0.00,-999.00,0.02
1,2001,1,1,1,0.00,-999.00,-999.00,24.88,18.54,93.40,...,13.55,13.49,18.26,0.00,0.00,0.32,0.20,0.00,-999.00,0.02
2,2001,1,1,2,0.00,-999.00,-999.00,51.42,18.21,93.36,...,13.37,13.31,17.93,0.00,0.00,0.37,0.23,0.00,-999.00,0.02
3,2001,1,1,3,0.00,-999.00,-999.00,66.36,17.94,93.31,...,13.18,13.18,17.63,0.00,0.00,0.38,0.24,0.00,-999.00,0.02
4,2001,1,1,4,0.00,-999.00,-999.00,51.16,17.69,93.27,...,13.06,13.06,17.38,0.00,0.00,0.41,0.27,0.00,-999.00,0.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201595,2023,12,31,19,2.92,0.15,0.67,31.79,28.00,93.33,...,11.47,11.29,29.65,224.25,494.98,0.27,0.17,191.52,0.74,0.01
201596,2023,12,31,20,0.80,0.13,0.58,20.45,25.87,93.38,...,11.72,11.66,26.40,113.95,255.77,0.27,0.17,98.62,0.71,0.01
201597,2023,12,31,21,0.05,0.16,0.38,31.40,23.62,93.45,...,12.08,12.02,23.53,21.48,50.48,0.26,0.16,19.33,0.66,0.01
201598,2023,12,31,22,0.00,-999.00,-999.00,21.06,21.87,93.52,...,12.45,12.39,21.71,0.00,0.00,0.26,0.17,0.00,-999.00,0.01
201599,2023,12,31,23,0.00,-999.00,-999.00,22.94,20.82,93.55,...,12.70,12.70,20.65,0.00,0.00,0.24,0.16,0.00,-999.00,0.00