In [11]:
import pandas as pd

In [12]:
df = pd.read_csv('./databases/dataset2001_2024.csv')
df

,YEAR,MO,DY,HR,ALLSKY_SFC_UV_INDEX,ALLSKY_SRF_ALB,CLRSKY_KT,CLOUD_AMT,T2M,PS,PW,WD10M,WD50M,WS50M,WS10M,TOA_SW_DNI,QV2M,QV10M
0,2001,1,1,0,0.00,-999.00,-999.00,32.70,18.93,93.39,2.72,140.07,139.57,6.24,4.25,0.00,13.79,13.73
1,2001,1,1,1,0.00,-999.00,-999.00,24.88,18.54,93.40,2.66,138.43,137.82,6.18,4.06,0.00,13.55,13.49
2,2001,1,1,2,0.00,-999.00,-999.00,51.42,18.21,93.36,2.61,138.09,137.45,6.08,3.89,0.00,13.37,13.31
3,2001,1,1,3,0.00,-999.00,-999.00,66.36,17.94,93.31,2.55,137.70,136.99,5.89,3.63,0.00,13.18,13.18
4,2001,1,1,4,0.00,-999.00,-999.00,51.16,17.69,93.27,2.50,137.93,137.20,5.62,3.35,0.00,13.06,13.06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201595,2023,12,31,19,2.92,0.15,0.67,31.79,28.00,93.33,2.72,155.45,154.80,6.44,5.66,1408.66,11.47,11.29
201596,2023,12,31,20,0.80,0.13,0.58,20.45,25.87,93.38,2.70,152.49,152.07,7.36,6.12,1408.61,11.72,11.66
201597,2023,12,31,21,0.05,0.16,0.38,31.40,23.62,93.45,2.70,148.69,148.45,7.88,6.21,1408.76,12.08,12.02
201598,2023,12,31,22,0.00,-999.00,-999.00,21.06,21.87,93.52,2.71,145.60,145.61,7.41,5.61,0.00,12.45,12.39
201599,2023,12,31,23,0.00,-999.00,-999.00,22.94,20.82,93.55,2.72,140.66,140.22,6.68,4.93,0.00,12.70,12.70

In [13]:
df.describe()

,YEAR,MO,DY,HR,ALLSKY_SFC_UV_INDEX,ALLSKY_SRF_ALB,CLRSKY_KT,CLOUD_AMT,T2M,PS,PW,WD10M,WD50M,WS50M,WS10M,TOA_SW_DNI,QV2M,QV10M
count,201600.000000,201600.000000,201600.000000,201600.000000,201600.000000,201600.000000,201600.000000,201600.000000,201600.000000,201600.000000,201600.000000,201600.000000,201600.000000,201600.000000,201600.000000,201600.000000,201600.000000,201600.000000
mean,2012.000000,6.523333,15.728452,11.500000,1.326956,-481.930414,-481.678593,55.774468,20.267030,93.580820,2.703156,167.655785,167.763028,4.638976,3.096809,705.793837,12.264153,11.927695
std,6.632728,3.448601,8.799613,6.922204,21.231829,499.264413,499.507574,37.996475,5.331881,0.370816,1.027038,97.374538,97.910024,1.918196,1.461751,681.881766,2.914397,2.828896
min,2001.000000,1.000000,1.000000,0.000000,-999.000000,-999.000000,-999.000000,0.000000,0.490000,92.180000,0.280000,0.000000,0.000000,0.010000,0.020000,0.000000,2.140000,1.890000
25%,2006.000000,4.000000,8.000000,5.750000,0.000000,-999.000000,-999.000000,17.520000,16.440000,93.320000,1.870000,113.310000,112.420000,3.270000,2.060000,0.000000,10.010000,9.770000
50%,2012.000000,7.000000,16.000000,11.500000,0.000000,0.090000,0.270000,57.950000,20.120000,93.560000,2.670000,143.600000,143.130000,4.680000,2.830000,1317.070000,12.150000,11.900000
75%,2018.000000,10.000000,23.000000,17.250000,2.650000,0.150000,0.690000,97.530000,24.050000,93.830000,3.520000,238.312500,243.020000,5.950000,3.970000,1368.090000,14.650000,14.220000
max,2023.000000,12.000000,31.000000,23.000000,18.580000,0.270000,0.830000,100.000000,39.160000,94.980000,5.430000,359.940000,359.950000,16.170000,12.030000,1409.840000,20.870000,19.780000

In [14]:
# Media de temperatura 
mean = df['T2M'].mean()
print(mean)

20.267030109126985

In [26]:
import matplotlib.pyplot as plt

plt.hist(df['T2M'], bins=100, alpha=0.5)
plt.title('DistribuiÃ§Ã£o da temp')
plt.xlabel('Valores')
plt.ylabel('Frequency')
plt.show()

ModuleNotFoundError: No module named 'matplotlib.backends.registry'

In [16]:
import seaborn as sns

sns.histplot(df['T2M'], kde=True)
plt.title('Distribuicao com KDE')
plt.xlabel('Valores')
plt.ylabel('Frequency')
plt.show()

ModuleNotFoundError: No module named 'matplotlib.backends.registry'

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error

from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR

from sklearn.preprocessing import StandardScaler

In [17]:
import numpy as np

In [18]:
def prepare_data(series, n_lags, n_ahead):
    X, y = [], []
    for i in range(len(series) - n_lags - n_ahead + 1):
        X.append(series[i:i + n_lags])
        y.append(series[i + n_lags:i + n_lags + n_ahead])
    return np.array(X), np.array(y)

In [19]:
def evaluate_models(X_train, y_train, X_test, y_test, models):
    results = {}
    for name, model in models.items():
        model.fit(X_train, y_train)
        y_pred = model.predict(X_test)
        mse = mean_squared_error(y_test, y_pred)
        mae = mean_absolute_error(y_test, y_pred)
        results[name] = {'MSE': mse, 'MAE': mae, 'Predictions': y_pred}
    results

In [20]:
df_2001 = df[df['YEAR'] == 2001]
df_2001

,YEAR,MO,DY,HR,ALLSKY_SFC_UV_INDEX,ALLSKY_SRF_ALB,CLRSKY_KT,CLOUD_AMT,T2M,PS,PW,WD10M,WD50M,WS50M,WS10M,TOA_SW_DNI,QV2M,QV10M
0,2001,1,1,0,0.00,-999.00,-999.00,32.70,18.93,93.39,2.72,140.07,139.57,6.24,4.25,0.00,13.79,13.73
1,2001,1,1,1,0.00,-999.00,-999.00,24.88,18.54,93.40,2.66,138.43,137.82,6.18,4.06,0.00,13.55,13.49
2,2001,1,1,2,0.00,-999.00,-999.00,51.42,18.21,93.36,2.61,138.09,137.45,6.08,3.89,0.00,13.37,13.31
3,2001,1,1,3,0.00,-999.00,-999.00,66.36,17.94,93.31,2.55,137.70,136.99,5.89,3.63,0.00,13.18,13.18
4,2001,1,1,4,0.00,-999.00,-999.00,51.16,17.69,93.27,2.50,137.93,137.20,5.62,3.35,0.00,13.06,13.06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,2001,12,31,19,2.17,0.16,0.67,92.43,27.96,92.67,3.15,207.32,210.23,2.95,2.38,1409.43,13.73,12.51
8756,2001,12,31,20,0.52,0.15,0.58,98.20,27.06,92.69,3.22,190.44,192.43,2.90,2.03,1409.47,14.40,13.18
8757,2001,12,31,21,0.02,0.15,0.37,97.80,24.90,92.75,3.30,171.53,172.15,2.97,1.70,1409.43,15.81,14.16
8758,2001,12,31,22,0.00,-999.00,-999.00,97.15,22.76,92.79,3.38,149.52,150.21,3.41,1.89,0.00,15.08,13.98
8759,2001,12,31,23,0.00,-999.00,-999.00,96.89,21.82,92.84,3.45,132.38,132.79,3.59,1.94,0.00,15.08,14.28

In [21]:
df_2002 = df[df['YEAR'] == 2002]
df_2002

,YEAR,MO,DY,HR,ALLSKY_SFC_UV_INDEX,ALLSKY_SRF_ALB,CLRSKY_KT,CLOUD_AMT,T2M,PS,PW,WD10M,WD50M,WS50M,WS10M,TOA_SW_DNI,QV2M,QV10M
8760,2002,1,1,0,0.00,-999.00,-999.00,72.95,21.23,92.86,3.52,112.33,112.01,3.61,1.89,0.00,15.08,14.53
8761,2002,1,1,1,0.00,-999.00,-999.00,72.91,20.93,92.83,3.59,93.05,92.48,3.43,1.76,0.00,15.08,14.71
8762,2002,1,1,2,0.00,-999.00,-999.00,89.59,20.65,92.76,3.65,70.92,70.53,2.86,1.53,0.00,14.89,14.71
8763,2002,1,1,3,0.00,-999.00,-999.00,99.62,20.33,92.68,3.72,43.86,44.26,2.55,1.39,0.00,14.71,14.53
8764,2002,1,1,4,0.00,-999.00,-999.00,93.29,19.94,92.65,3.78,24.34,25.23,2.69,1.44,0.00,14.59,14.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17515,2002,12,31,19,2.45,0.16,0.69,17.78,32.90,93.03,3.82,212.22,213.25,1.41,1.10,1408.34,12.94,12.33
17516,2002,12,31,20,0.58,0.16,0.60,16.66,31.57,93.07,3.83,188.82,187.40,1.39,0.92,1408.30,13.73,13.00
17517,2002,12,31,21,0.02,0.16,0.40,15.40,29.55,93.14,3.86,165.65,165.01,1.60,0.69,1408.35,15.56,14.53
17518,2002,12,31,22,0.00,-999.00,-999.00,15.19,27.99,93.20,3.91,141.68,147.02,1.56,0.62,0.00,16.36,15.26
17519,2002,12,31,23,0.00,-999.00,-999.00,15.16,27.11,93.26,3.94,120.82,127.09,1.20,0.52,0.00,16.78,15.81

In [22]:
models = {
    'LinearRegression': LinearRegression(),
    'RandomForest': RandomForestRegressor(),
    'SVR': SVR()
}

metrics = ['MSE', 'MAE']

NameError: name 'LinearRegression' is not defined

In [23]:
def plot_predictions(y_test, predictions, model_name):
    plt.figure(figsize=(10,5))
    plt.plot(y_test, label='True Values', color='blue')
    plt.plot(predictions, label=f'{model_name} Predictions', color='red')
    plt.title(f'Predictions vs True values for {model_name}')
    plt.legend()
    plt.show()

In [24]:
def prediction_pipeline(data, target_column, n_lags, n_ahead):
    # 1 - target a definir
    series = data[target_column].values
    
    # 2 - preparar os dados
    X, y = prepare_data(series, n_lags, n_ahead)
    
    # 3 - Dividir em treino e teste
    X_train, X_test, y_train, y_test = train_test_split(
        X,
        y,
        test_size=0.2,
        shuffle=False,
        random_state=42
    )
    
    # 4 - Testar os modelos
    results = evaluate_models(X_train, y_train, X_test, y_test, models)
    
    # 5 - Mostrar e plotar os resultados
    for model_name, result in results.items():
        print(f'{model_name} - MSE: {result["MSE"]:.4f}, MAE: {result["MAE"]:.4f}')
        plot_predictions(y_test, result['predictions'], model_name)

In [25]:
prediction_pipeline(df_2001, target_column='T2M', n_lags=1000, n_ahead=1)

NameError: name 'train_test_split' is not defined